body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mx1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mt1 {
  margin-top: 1.5rem;
}

.task {
  margin-bottom: 1rem;
}

.task.completed span {
  text-decoration: line-through;
}

.task label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding:  1rem;
  background: #fafafa;
}

.task i {
  z-index: 2;
}